
<div class="diagram-menu__wrapper">

    <button class="diagram-menu__button" title="Switch to edit mode">
        <img src="/assets/user-icon.svg" />
        <span>Edit</span>
    </button>

    <button class="diagram-menu__button" title="Switch to preview mode">
        <img src="/assets/user-icon.svg" />
        <span>Preview</span>
    </button>

    <button class="diagram-menu__button" title="Download diagram">
        <img src="/assets/user-icon.svg" />
        <span>Download</span>
    </button>

    <button class="diagram-menu__button" title="Save in cloud">
        <img src="/assets/user-icon.svg" />
        <span>Save</span>
    </button>

    <button class="diagram-menu__button" title="Delete diagram">
        <img src="/assets/user-icon.svg" />
        <span>Delete</span> 
    </button>

    <button class="diagram-menu__button" title="Print diagram">
        <img src="/assets/user-icon.svg" />
        <span>Print</span>
    </button>

</div>

@code {

}
