
<div class="first-block-selector__wrapper">

    <p>Select diagram's first block type:</p>

    <ul class="first-block-selector__list">

        <li class="first-block-selector__list-item">

            <button class="first-block-selector__button" @onclick="TextBlockClick" title="Block with text content">

                <SvgIcon SvgUrl="/assets/text-block-icon.svg" />

                <span>Text</span>

            </button>

        </li>

        <li class="first-block-selector__list-item">

            <button class="first-block-selector__button" @onclick="BranchBlockClick" title="Conditional block with two possible results">

                <SvgIcon SvgUrl="/assets/branch-block-icon.svg" />

                <span>Branch</span>

            </button>

        </li>

    </ul>
</div>

@code {
    [Parameter] public EventCallback OnTextBlockSelected { get; set; }
    [Parameter] public EventCallback OnBranchBlockSelected { get; set; }

    async Task TextBlockClick() => await OnTextBlockSelected.InvokeAsync();
    async Task BranchBlockClick() => await OnBranchBlockSelected.InvokeAsync();

}
