@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Comic+Neue&display=swap");
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

* {
  font-family: 'Comic Neue'; }

button,
input,
textarea {
  font-family: 'Comfortaa'; }

:root {
  --color-30: #6b2e2e;
  --color-50: #b34d4d;
  --color-70: #d19494;
  --color-80: #e0b8b8;
  --color-90: #f0dbdb;
  --color-95: #f7eded;
  --color-98: #fcf8f8;
  --color-mask-85: rgba(54, 23, 23, 0.85); }

/*
$color-hue: 230;
$color-30: hsl($color-hue, 40%, 30%);
$color-50: hsl($color-hue, 40%, 50%);
$color-70: hsl($color-hue, 40%, 70%);
$color-80: hsl($color-hue, 40%, 80%);
$color-90: hsl($color-hue, 40%, 90%);
$color-95: hsl($color-hue, 40%, 95%);
$color-98: hsl($color-hue, 40%, 98%);
*/
.login-status__login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  transition: transform ease .1s, box-shadow ease .1s;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--color-30);
  color: #ffffff;
  padding: .5rem 1rem; }
  .login-status__login-button:hover {
    transform: scale(1.05);
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2); }
  .login-status__login-button svg {
    height: 1.5rem;
    aspect-ratio: 1/1;
    margin-right: 1rem; }
    .login-status__login-button svg path {
      fill: #ffffff; }

.login-status__authorized-wrapper {
  display: flex;
  align-items: center;
  height: 3rem;
  background-color: var(--color-98);
  color: var(--color-50);
  border-radius: .5rem; }
  .login-status__authorized-wrapper svg {
    height: 1.5rem;
    aspect-ratio: 1/1;
    margin: 0 .75rem; }
    .login-status__authorized-wrapper svg path {
      fill: var(--color-70); }
  .login-status__authorized-wrapper button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: transform ease .1s, box-shadow ease .1s;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--color-90);
    color: var(--color-30);
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.05);
    background-color: var(--color-80);
    height: 100%;
    border-radius: 0 .5rem .5rem 0;
    margin-left: 1rem; }
    .login-status__authorized-wrapper button:hover {
      transform: scale(1.05);
      box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2); }
    .login-status__authorized-wrapper button:hover {
      background-color: var(--color-95);
      box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.1); }
    .login-status__authorized-wrapper button svg {
      height: 1.5rem;
      aspect-ratio: 1/1;
      margin: 0 .5rem; }
      .login-status__authorized-wrapper button svg path {
        fill: #ffffff; }
    .login-status__authorized-wrapper button:hover {
      background-color: var(--color-50); }

.login-form__wrapper {
  position: absolute;
  top: 1px;
  right: 1px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-98);
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 100; }

.login-form__close-button {
  align-self: flex-end;
  margin: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform ease .1s; }
  .login-form__close-button svg {
    height: 1rem;
    aspect-ratio: 1/1;
    stroke: var(--color-30); }
  .login-form__close-button:hover {
    transform: scale(1.2); }

.login-form__from {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  gap: 1rem; }
  .login-form__from .login-form__label {
    grid-column: 1/2;
    justify-self: end;
    margin-left: 2rem;
    color: var(--color-50); }
  .login-form__from .login-form__input {
    grid-column: 2/3;
    margin-right: 2rem;
    border: 1px solid var(--color-95);
    border-radius: .25rem;
    padding: .5rem;
    color: var(--color-30); }
  .login-form__from .validation-message {
    grid-column: 1/3;
    text-align: center;
    margin: -.5rem 0; }
  .login-form__from .login-form__button {
    grid-column: 2/3;
    justify-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: transform ease .1s, box-shadow ease .1s;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--color-30);
    color: #ffffff;
    padding: .5rem 2.5rem;
    margin-top: .5rem; }
    .login-form__from .login-form__button:hover {
      transform: scale(1.05);
      box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2); }

.login-form__signin-row {
  display: flex;
  align-items: center;
  margin: 2rem 0 1.5rem 0; }
  .login-form__signin-row span {
    margin-left: auto;
    margin-right: 1rem;
    color: var(--color-50); }
  .login-form__signin-row button {
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: transform ease .1s, box-shadow ease .1s;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--color-90);
    color: var(--color-30);
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.05);
    padding: .5rem .75rem; }
    .login-form__signin-row button:hover {
      transform: scale(1.05);
      box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2); }
    .login-form__signin-row button:hover {
      background-color: var(--color-95);
      box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.1); }

.login-status__mask {
  position: absolute;
  inset: 0;
  background: var(--color-mask-85);
  z-index: 99; }

.page-header__wrapper {
  height: 8rem;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: var(--color-95); }

.page-header__logo {
  margin: 0 2rem; }
  .page-header__logo svg {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1); }
  .page-header__logo .condition {
    fill: var(--color-70); }
  .page-header__logo .condition-left,
  .page-header__logo .condition-right {
    fill: var(--color-90); }
  .page-header__logo .result-left {
    fill: var(--color-95); }
  .page-header__logo .result-right {
    fill: var(--color-98); }
  .page-header__logo .box {
    stroke: var(--color-90); }

.page-header__content {
  flex-grow: 1;
  text-align: center; }

.page-header__login {
  margin: 0 2rem;
  min-width: 7rem; }

:root {
  --color-30: #6b2e2e;
  --color-50: #b34d4d;
  --color-70: #d19494;
  --color-80: #e0b8b8;
  --color-90: #f0dbdb;
  --color-95: #f7eded;
  --color-98: #fcf8f8;
  --color-mask-85: rgba(54, 23, 23, 0.85); }

/*
$color-hue: 230;
$color-30: hsl($color-hue, 40%, 30%);
$color-50: hsl($color-hue, 40%, 50%);
$color-70: hsl($color-hue, 40%, 70%);
$color-80: hsl($color-hue, 40%, 80%);
$color-90: hsl($color-hue, 40%, 90%);
$color-95: hsl($color-hue, 40%, 95%);
$color-98: hsl($color-hue, 40%, 98%);
*/
.page-content__wrapper {
  display: flex;
  justify-content: center;
  background: var(--color-98);
  min-height: calc(100vh - 8rem); }

.page-content__main {
  width: 80vw;
  background: #fff;
  z-index: 0; }

:root {
  --color-30: #6b2e2e;
  --color-50: #b34d4d;
  --color-70: #d19494;
  --color-80: #e0b8b8;
  --color-90: #f0dbdb;
  --color-95: #f7eded;
  --color-98: #fcf8f8;
  --color-mask-85: rgba(54, 23, 23, 0.85); }

/*
$color-hue: 230;
$color-30: hsl($color-hue, 40%, 30%);
$color-50: hsl($color-hue, 40%, 50%);
$color-70: hsl($color-hue, 40%, 70%);
$color-80: hsl($color-hue, 40%, 80%);
$color-90: hsl($color-hue, 40%, 90%);
$color-95: hsl($color-hue, 40%, 95%);
$color-98: hsl($color-hue, 40%, 98%);
*/
h1 {
  font-family: 'Comfortaa';
  font-size: 2em;
  color: var(--color-50); }

.index__block-wrapper {
  background: var(--color-95);
  border-radius: 0.5rem;
  padding: 3rem;
  margin: 10vh 10vw; }

.index__block {
  font-size: 1.2em; }
  .index__block .branch-block__result {
    min-height: 13rem; }

.index__title-block .preview-text-block__text {
  padding: 1.25em 1em;
  text-align: center;
  font-size: 1.3em;
  color: var(--color-50);
  background: #fff; }

.index__action-block .button-block__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  transition: transform ease .1s, box-shadow ease .1s;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--color-30);
  color: #ffffff;
  padding: 0.65em 1em 0.5em;
  margin: 1em;
  font-size: 0.9em; }
  .index__action-block .button-block__button:hover {
    transform: scale(1.05);
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2); }
  .index__action-block .button-block__button--big {
    font-size: 1.1em; }
  .index__action-block .button-block__button--login {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: transform ease .1s, box-shadow ease .1s;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--color-90);
    color: var(--color-30);
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 0.25em; }
    .index__action-block .button-block__button--login:hover {
      transform: scale(1.05);
      box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2); }
    .index__action-block .button-block__button--login:hover {
      background-color: var(--color-95);
      box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.1); }

.index__action-block--login .button-block__button {
  background-color: var(--color-90);
  color: var(--color-50);
  margin-bottom: 0.5rem; }

.index__action-block--login .button-block__after-text {
  margin-bottom: 0.5rem; }

:root {
  --color-30: #6b2e2e;
  --color-50: #b34d4d;
  --color-70: #d19494;
  --color-80: #e0b8b8;
  --color-90: #f0dbdb;
  --color-95: #f7eded;
  --color-98: #fcf8f8;
  --color-mask-85: rgba(54, 23, 23, 0.85); }

/*
$color-hue: 230;
$color-30: hsl($color-hue, 40%, 30%);
$color-50: hsl($color-hue, 40%, 50%);
$color-70: hsl($color-hue, 40%, 70%);
$color-80: hsl($color-hue, 40%, 80%);
$color-90: hsl($color-hue, 40%, 90%);
$color-95: hsl($color-hue, 40%, 95%);
$color-98: hsl($color-hue, 40%, 98%);
*/
.diagram__wrapper {
  margin: clamp(1rem, 5%, 5vh) clamp(1rem, 10%, 10vw); }

.diagram__name-edit {
  border: none;
  border-radius: 0.25rem;
  color: var(--color-50);
  font-size: 1.5em;
  padding: 0.5rem;
  color: var(--color-30);
  text-align: center;
  min-width: 50%; }
  .diagram__name-edit::-webkit-input-placeholder {
    color: var(--color-90); }
  .diagram__name-edit::-moz-placeholder {
    color: var(--color-90); }
  .diagram__name-edit:-ms-input-placeholder {
    color: var(--color-90); }
  .diagram__name-edit:-moz-placeholder {
    color: var(--color-90); }

.diagram-menu__wrapper {
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem; }

.diagram-menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  transition: transform ease .1s, box-shadow ease .1s;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.15);
  justify-content: flex-start;
  padding: 0;
  color: #fff;
  background-color: var(--color-70); }
  .diagram-menu__button:hover {
    transform: scale(1.05);
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2); }
  .diagram-menu__button:hover {
    background-color: var(--color-30); }
    .diagram-menu__button:hover span {
      display: block; }
  .diagram-menu__button img {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem; }
  .diagram-menu__button span {
    flex-grow: 1;
    text-align: center;
    padding-inline: 1rem 1.5rem;
    display: none; }

:root {
  --color-30: #6b2e2e;
  --color-50: #b34d4d;
  --color-70: #d19494;
  --color-80: #e0b8b8;
  --color-90: #f0dbdb;
  --color-95: #f7eded;
  --color-98: #fcf8f8;
  --color-mask-85: rgba(54, 23, 23, 0.85); }

/*
$color-hue: 230;
$color-30: hsl($color-hue, 40%, 30%);
$color-50: hsl($color-hue, 40%, 50%);
$color-70: hsl($color-hue, 40%, 70%);
$color-80: hsl($color-hue, 40%, 80%);
$color-90: hsl($color-hue, 40%, 90%);
$color-95: hsl($color-hue, 40%, 95%);
$color-98: hsl($color-hue, 40%, 98%);
*/
.preview-branch-block__wrapper,
.edit-branch-block__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 1px var(--color-80); }

.preview-branch-block__branch-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  background: linear-gradient(to top right, transparent 50%, var(--color-70) 0) 0 0/calc(50% + 1px) 100% no-repeat, linear-gradient(to top left, transparent 50%, var(--color-70) 0) 100% 0/calc(50% + 1px) 100% no-repeat; }
  .preview-branch-block__branch-wrapper:before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--color-95);
    z-index: -1; }

.preview-branch-block__condition {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; }

.preview-branch-block__branch {
  display: flex;
  align-items: center;
  color: var(--color-50); }
  .preview-branch-block__branch--left {
    justify-content: flex-start; }
  .preview-branch-block__branch--right {
    justify-content: flex-end; }

.preview-branch-block__label {
  margin: .5em 1em; }

.preview-branch-block__result-wrapper {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: solid 1px var(--color-80); }

.preview-branch-block__result {
  display: grid;
  text-align: center;
  height: 100%;
  background-color: var(--color-98); }
  .preview-branch-block__result--left {
    border-right: solid 1px var(--color-80); }
  .preview-branch-block__result .preview-branch-block__branch-wrapper {
    border: none; }
  .preview-branch-block__result .block__wrapper {
    border: none; }

.edit-branch-block__top-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 1;
  box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, 0.2); }
  .edit-branch-block__top-wrapper .block-button__button {
    margin-bottom: 0; }

.edit-branch-block__branch-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  background: linear-gradient(to top right, transparent 50%, var(--color-80) 0) 0 0/calc(50% + 1px) 100% no-repeat, linear-gradient(to top left, transparent 50%, var(--color-80) 0) 100% 0/calc(50% + 1px) 100% no-repeat; }
  .edit-branch-block__branch-wrapper:before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--color-95);
    z-index: -1; }
  .edit-branch-block__branch-wrapper .block-button__button--delete {
    position: absolute;
    top: 0;
    right: 0; }

.edit-branch-block__condition {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 2rem; }

.edit-branch-block__branch {
  display: flex;
  align-items: center;
  color: var(--color-50); }
  .edit-branch-block__branch--left {
    justify-content: flex-start; }
  .edit-branch-block__branch--right {
    justify-content: flex-end; }

.edit-branch-block__input {
  border: none;
  border-radius: 0.25rem;
  color: var(--color-50);
  text-align: center;
  padding: .25em .5em; }
  .edit-branch-block__input::-webkit-input-placeholder {
    color: var(--color-90); }
  .edit-branch-block__input::-moz-placeholder {
    color: var(--color-90); }
  .edit-branch-block__input:-ms-input-placeholder {
    color: var(--color-90); }
  .edit-branch-block__input:-moz-placeholder {
    color: var(--color-90); }
  .edit-branch-block__input--short {
    width: 50%; }

.edit-branch-block__add-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  .edit-branch-block__add-wrapper button:nth-child(2) {
    margin-right: 1px; }
  .edit-branch-block__add-wrapper button:nth-child(3) {
    margin-left: 1px; }

.edit-branch-block__result-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: solid 1px var(--color-80); }

.edit-branch-block__result {
  display: grid;
  text-align: center;
  height: 100%; }
  .edit-branch-block__result--left {
    border-right: solid 1px var(--color-80); }
  .edit-branch-block__result .preview-branch-block__branch-wrapper {
    border: none; }
  .edit-branch-block__result .block__wrapper {
    border: none; }

.content-block__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #fff; }

.preview-text-block__wrapper {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--color-80);
  background: #fff; }
  .preview-text-block__wrapper:last-child div {
    border-bottom: none; }

.preview-text-block__text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 1em;
  padding: 0.5rem 1rem;
  border-bottom: solid 1px var(--color-80); }

.block__child {
  border-top: none; }
  .block__child div {
    border-top: none; }

.block__parent {
  border-bottom: none; }

.block__masked {
  background-color: var(--color-98);
  color: var(--color-70); }
  .block__masked .preview-branch-block__condition {
    color: var(--color-95); }
  .block__masked .preview-branch-block__branch {
    color: var(--color-80); }
  .block__masked .preview-branch-block__branch-wrapper {
    background: linear-gradient(to top right, transparent 50%, var(--color-90) 0) 0 0/calc(50% + 1px) 100% no-repeat, linear-gradient(to top left, transparent 50%, var(--color-90) 0) 100% 0/calc(50% + 1px) 100% no-repeat; }

.edit-text-block__wrapper {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr;
  box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, 0.2); }
  .edit-text-block__wrapper .block-button__button {
    margin-bottom: 0; }

.edit-text-block__text {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  margin-block: .25rem;
  background-color: var(--color-98); }
  .edit-text-block__text textarea {
    border: none;
    border-radius: 0.25rem;
    color: var(--color-50);
    width: 100%;
    height: 100%;
    padding: 0.25rem;
    text-align: center; }
    .edit-text-block__text textarea::-webkit-input-placeholder {
      color: var(--color-90); }
    .edit-text-block__text textarea::-moz-placeholder {
      color: var(--color-90); }
    .edit-text-block__text textarea:-ms-input-placeholder {
      color: var(--color-90); }
    .edit-text-block__text textarea:-moz-placeholder {
      color: var(--color-90); }

.block-button__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-70);
  border: none;
  cursor: pointer;
  padding: 0.25rem 1rem;
  margin-bottom: 1px; }
  .block-button__button:hover {
    background-color: var(--color-50); }
  .block-button__button svg .darkColor {
    fill: var(--color-80); }
  .block-button__button svg .lightColor {
    fill: var(--color-95);
    stroke: var(--color-95); }
  .block-button__button:hover svg .darkColor {
    fill: var(--color-70); }
  .block-button__button--close {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 0.25rem 0; }
    .block-button__button--close svg {
      stroke: white;
      height: 1em;
      margin-block: .25rem; }
  .block-button__button--delete {
    grid-column: 1/3;
    justify-self: end;
    border-radius: 0 0 0 0.25rem;
    z-index: 1; }
  .block-button__button--add-left {
    padding-block: 0.5rem 0;
    border-radius: 0.25rem 0 0 0.25rem; }
  .block-button__button--add-right {
    padding-block: 0.5rem 0;
    margin-left: 1px;
    border-radius: 0 0.25rem 0.25rem 0; }

.delete-dialog__wrapper {
  position: absolute;
  inset: 0;
  background-color: var(--color-mask-85);
  display: none;
  z-index: 10; }
  .delete-dialog__wrapper--visible {
    display: flex;
    justify-content: center;
    align-items: center; }

.delete-dialog__question {
  margin-inline: 1rem;
  color: #fff; }

.delete-dialog__answear {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .5em; }

.delete-dialog__button {
  margin-inline: 0.5rem;
  padding: .25rem .5rem;
  background-color: #fff;
  color: var(--color-30);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer; }
  .delete-dialog__button:hover {
    background-color: var(--color-95); }
  .delete-dialog__button--confirm {
    background-color: var(--color-70);
    color: #fff; }
    .delete-dialog__button--confirm:hover {
      background-color: darkred; }

.button-block__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-50); }

:root {
  --color-30: #6b2e2e;
  --color-50: #b34d4d;
  --color-70: #d19494;
  --color-80: #e0b8b8;
  --color-90: #f0dbdb;
  --color-95: #f7eded;
  --color-98: #fcf8f8;
  --color-mask-85: rgba(54, 23, 23, 0.85); }

/*
$color-hue: 230;
$color-30: hsl($color-hue, 40%, 30%);
$color-50: hsl($color-hue, 40%, 50%);
$color-70: hsl($color-hue, 40%, 70%);
$color-80: hsl($color-hue, 40%, 80%);
$color-90: hsl($color-hue, 40%, 90%);
$color-95: hsl($color-hue, 40%, 95%);
$color-98: hsl($color-hue, 40%, 98%);
*/
:root {
  --theme-preview-hue: 0; }

input[type=range] {
  width: 100%;
  height: 3em;
  margin: .5em 0;
  -webkit-appearance: none; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2em;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  background: linear-gradient(90deg, #ff6666, #66ff66, #66ccff, #6666ff, #ff6666);
  border-radius: .5em;
  border: none; }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px Hsla(var(--theme-preview-hue), 70%, 20%, 0.5);
  border: 2px solid Hsl(var(--theme-preview-hue), 70%, 60%);
  height: 3em;
  width: 3em;
  border-radius: 0;
  background: Hsl(var(--theme-preview-hue), 70%, 80%);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -.65em; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, #ff6666, #66ff66, #66ccff, #6666ff, #ff6666); }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2em;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  background: linear-gradient(90deg, #ff6666, #66ff66, #66ccff, #6666ff, #ff6666);
  border-radius: .5em;
  border: none; }

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 2px Hsla(var(--theme-preview-hue), 70%, 20%, 0.5);
  border: 2px solid Hsl(var(--theme-preview-hue), 70%, 60%);
  height: 3em;
  width: 3em;
  border-radius: 0;
  background: Hsl(var(--theme-preview-hue), 70%, 80%);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -.65em; }

/*
input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #FF96AB;
    border: 2px solid #F27B7F;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #A6A6A6;
}

input[type=range]::-ms-fill-upper {
    background: #FF96AB;
    border: 2px solid #F27B7F;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #A6A6A6;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 2px #A6A6A6;
    border: 2px solid #F27B7F;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    background: #FF96AB;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #FF96AB;
}

input[type=range]:focus::-ms-fill-upper {
    background: #FF96AB;
}
*/
