
<div class="@CssClass button-block__wrapper">

    <button class="button-block__button" @onclick="ViewModel.OnClick">
        @ViewModel.ButtonText
    </button>

    <span class="button-block__after-text">
        @ViewModel.AfterText
    </span>

</div>

@code {
    [Parameter] public string CssClass { get; set; }

    [Parameter] public ButtonBlockVM ViewModel { get; set; }

}
