@import 'shared';

.diagram__wrapper {
    margin: clamp(1rem, 5%, 5vh) clamp(1rem, 10%, 10vw);

    @media print {
        margin: 0;
    }
}

.diagram__edit-info {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: .25rem 1.5rem;
    border-radius: 0 0 .5rem .5rem;
    background-color: $color-98;
    color: $color-50;
    transform-origin: top;
    animation: info-slide .2s;

    svg {
        margin-right: 1rem;
        height: 1.5rem;
        width: 1.5rem;
    }

    path {
        fill: $color-70;
    }
}

@keyframes info-slide {
    0% {
        transform: translateX(-50%) scaleY(0)
    }

    100% {
        transform: translateX(-50%) scaleY(1)
    }
}

.message-panel__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    margin: 3rem auto;
    color: $color-30;

    &--empty {
        color: $color-80;
    }

    p {
        font-size: 1.3em;
    }
}

.diagram-edit-header__wrapper {
    display: flex;
}

.diagram-edit-header__name-input {
    @include input-base;
    font-size: 1.8em;
    padding: 0.5rem;
    color: $color-30;
    text-align: center;
    min-width: 50%;
    animation: name-edit .2s;
    background: white url(../assets/pen-icon.svg) no-repeat 98% center;
    background-size: 1em;
    border-radius: .5rem;

    &--with-button {
        border-radius: 0 .5rem .5rem 0;
    }
}

.diagram-edit-header__private-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: .5rem 0 0 .5rem;
    cursor: pointer;
    background-color: $color-80;
    padding-inline: .75rem;
    transform-origin: right;
    animation: name-edit .4s;

    &:hover {
        background-color: $color-50;
    }
}

@keyframes name-edit {
    0% {
        transform: scaleX(0)
    }

    50% {
        transform: scaleX(0)
    }

    100% {
        transform: scaleX(1)
    }
}

.diagram-menu__wrapper {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    @media print {
        display: none;
    }
}

.diagram-menu__button {
    @include btn-base;
    justify-content: flex-start;
    padding: 0;
    color: #fff;
    background-color: $color-70;

    &:hover:enabled {
        background-color: $color-30;

        span {
            display: block;
        }
    }

    &:disabled {
        opacity: .5;
    }

    img {
        width: 2rem;
        height: 2rem;
        margin: 0.5rem;
    }

    span {
        flex-grow: 1;
        text-align: center;
        padding-inline: 1rem 1.5rem;
        display: none;
    }
}

.delete-diagram-dialog__wrapper {
    position: absolute;
    inset: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-mask-85);
}


.delete-diagram-dialog__question {
    margin: 1rem;
    color: #fff;
    font-size: 1.2em;
}

.delete-diagram-dialog__answear {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5em
}

.delete-diagram-dialog__button {
    @include btn-base;
    margin-inline: 0.5rem;
    padding: .5rem 1rem;
    background-color: #fff;
    color: $color-30;
    border-radius: 0.25rem;

    &:hover {
        background-color: $color-95;
    }

    &--confirm {
        background-color: $color-70;
        color: #fff;

        &:hover {
            background-color: darkred;
        }
    }
}


.first-block-selector__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    margin: 3rem auto;
    padding-block: 1rem;
    border: 1px solid $color-95;
    box-shadow: 4px 4px 4px 0 rgb(0 0 0 / 5%);

    p {
        font-size: 1.3em;
        color: $color-30;
    }
}

.first-block-selector__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: .5rem;
}

.first-block-selector__button {
    @include btn-primary;
    background-color: $color-70;
    padding: .75em 1.5em;
    margin: 1em;
    gap: 1rem;

    svg {
        .darkColor {
            fill: $color-80;
        }

        .lightColor {
            fill: $color-95;
            stroke: $color-95;
        }
    }

    &:hover {
        background-color: $color-30;

        svg .darkColor {
            fill: $color-70;
        }
    }
}


.info-dialog__wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding: 1rem 2rem 0.5rem 2rem;
    border-radius: 0 0 .5rem .5rem;
    background-color: white;
    transform-origin: top;
    animation: info-slide .1s;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);


    .info-dialog__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 2rem;
            height: 2rem;
        }

        path {
            fill: $color-30;
        }

        &--error {
            path {
                fill: darkred;
            }
        }
    }

    .info-dialog__message {
        margin-inline: 1.5rem 2rem;
        color: $color-30;

        &--error {
            color: darkred;
        }
    }

    .info-dialog__close-button {
        @include btn-base;
        position: absolute;
        top: .5rem;
        right: .5rem;
        border-radius: .25rem;
        padding: .25rem;
        background: none;
        box-shadow: none;

        &:hover {
            transform: scale(1.2);
            box-shadow: none;

            path {
                stroke: $color-80;
            }
        }

        svg {
            height: 1rem;
            width: 1rem;
        }

        path {
            stroke: $color-90;
        }
    }
}

.splash-screen-dialog__wrapper {
    position: absolute;
    inset: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-mask-85);
    color: white;
    font-size: 2em;
}

.nav-menu__wrapper {
    position: fixed;
    right: 2rem;
    top: 10rem;
    border-radius: .5rem;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.15);

    svg {
        width: 2rem;
        height: 2rem;
        margin: 0.5rem;
    }

    span {
        flex-grow: 1;
        text-align: center;
        padding-inline: 1rem;
    }

    @media print {
        display: none;
    }
}

.nav-menu__header {
    @include btn-base;
    width: 100%;
    padding: 0;
    color: $color-light-text;
    background-color: $color-70;
    box-shadow: none;

    path {
        fill: $color-light-text;
        stroke: $color-light-text;
    }

    span {
        display: none;
    }

    &:hover {
        background-color: $color-30;
    }

    &--open {
        background-color: $color-70;
        border-radius: .5rem .5rem 0 0;

        svg {
            width: 1rem;
            height: 1rem;
            margin: 1rem;
        }

        span {
            display: block;
            font-size: 1.2em;
            padding: 1rem;
        }

        &:hover:enabled {
            transform: scale(1);
        }
    }
}

.nav-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: $color-light-text;
    border-left: 1px solid $color-98;
}

.nav-menu__list-item {
    border-bottom: 1px solid $color-98;

    span {
        color: $color-50;
    }

    path {
        fill: $color-70;
    }

    &:hover {
        background-color: $color-90;

        span {
            color: $color-30;
        }

        path {
            fill: $color-50;
        }
    }
}

.nav-menu__nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;

    span {
        padding: 1rem;
    }
}
