@import "shared";

h1 {
    font-family: 'Comfortaa';
    font-size: 2em;
    color: $color-50;
}

.index__block-wrapper {
    background: $color-95;
    border-radius: 0.5rem;
    padding: 3rem;
    margin: 10vh 10vw;
}

.index__block {
    font-size: 1.2em;

    .branch-block__result {
        min-height: 13rem;
    }
}

.index__title-block {
    .preview-text-block__text {
        padding: 1.25em 1em;
        text-align: center;
        font-size: 1.3em;
        color: $color-50;
        background: $color-light;
    }
}

.index__action-block {
    .button-block__button, .file-button-block__button {
        @include btn-primary;
        padding: 0.65em 1em 0.5em;
        margin: 1em;
        font-size: 0.9em;

        &--big {
            font-size: 1.1em;
        }

        &--login {
            @include btn-secondary;
            margin-bottom: 0.25em;
        }
    }

    &--login {
        .button-block__button {
            background-color: $color-90;
            color: $color-50;
            margin-bottom: 0.5rem;
        }

        .button-block__after-text {
            margin: 0 0.5rem 0.5rem 0.5rem;
        }
    }
}

.index__footer {
    position: absolute;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);
    color: $color-50;
}
