@import "shared";

.my-diagrams__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.unauthorized-dialog__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem 1rem;
    border: 1px solid$color-90;

    p {
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 2rem;
        color: $color-30;
    }
}

.unauthorized-dialog__message {
    font-size: 1.5em;
    text-align: center;
}

.unauthorized-dialog__login-button {
    @include btn-primary;
    padding: .5rem 1rem;
}

.diagram-list__table {
    margin: 2rem 3rem;
    width: 100%;
    border-collapse: collapse;

    th {
        padding: .5rem 1rem;
        background-color: $color-90;
        color: $color-30;
    }

    td {
        padding: .5rem 1rem;
        border-bottom: 1px solid $color-95;
    }
}

.diagram-list__cell--created,
.diagram-list__cell--modified {
    text-align: center;
}

.diagram-list__cell--visibility {
    text-align: center;

    path {
        fill: $color-30;
    }
}

.diagram-list__cell--buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        @include btn-primary;
        margin-inline: .5rem;
        padding: .25rem .5rem;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.15);
    }
}
