@import "login";

.page-header__wrapper {
    height: 8rem;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: $color-95;
}

.page-header__logo {
    margin: 0 2rem;

    svg {
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);
    }

    .condition {
        fill: $color-70;
    }

    .result-left {
        fill: $color-95;
    }

    .result-right {
        fill: $color-98;
    }
}

.page-header__content {
    flex-grow: 1;
    text-align: center;
    margin-right: calc(2rem + 70px + 2rem);
}