@import "shared";

.page-content__wrapper {
    display: flex;
    justify-content: center;
    background: $color-98;
    min-height: calc(100vh - 8rem);
}

.page-content__main {
    position: relative;
    width: 80vw;
    background: #fff;
    z-index: 0;

    @media print {
        width: 95vw;

        * {
            -webkit-print-color-adjust: exact;
            color-adjust: exact
        }
    }
}
