@import 'register';
@import "shared";

.register-user__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-user__success-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin: 3rem 1rem;
    border: 1px solid $color-90;
    box-shadow: 4px 4px 4px 0 $color-shadow-5;
}

.register-user__success-message {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 3rem;
    color: $color-30;
}

.register-user__success-button {
    @include btn-primary;
    padding: .75rem 2rem;
}
