:root {
    --color-30: hsl(0, 40%, 30%);
    --color-50: hsl(0, 40%, 50%);
    --color-70: hsl(0, 40%, 70%);
    --color-80: hsl(0, 40%, 80%);
    --color-90: hsl(0, 40%, 90%);
    --color-95: hsl(0, 40%, 95%);
    --color-98: hsl(0, 40%, 98%);
    --color-dark-text: hsl(0, 0%, 10%);
    --color-light-text: hsl(0, 0%, 100%);
    --color-light: hsl(0, 0%, 100%);
    --color-mask: Hsla(0, 40%, 15%, 0.85);
    --color-mask-text: Hsla(0, 0%, 100%);
    --color-shadow-5: Hsla(0, 40%, 10%, 0.05);
    --color-shadow-10: Hsla(0, 40%, 10%, 0.1);
    --color-shadow-15: Hsla(0, 40%, 10%, 0.15);
    --color-shadow-20: Hsla(0, 40%, 10%, 0.2);
}

@function getColor($name) {
    @return var(--color-#{$name});
}

$color-30: getColor(30);
$color-50: getColor(50);
$color-70: getColor(70);
$color-80: getColor(80);
$color-90: getColor(90);
$color-95: getColor(95);
$color-98: getColor(98);
$color-dark-text: getColor(dark-text);
$color-light-text: getColor(light-text);
$color-light: getColor(light);
$color-mask: getColor(mask);
$color-mask-text: getColor(mask-text);
$color-shadow-5: getColor(shadow-5);
$color-shadow-10: getColor(shadow-10);
$color-shadow-15: getColor(shadow-15);
$color-shadow-20: getColor(shadow-20);

* {
    outline-color: $color-50;
}

@mixin btn-base {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: transform ease .1s, box-shadow ease .1s;
    box-shadow: 4px 4px 4px 0 $color-shadow-15;

    &:hover:enabled {
        transform: scale(1.05);
        box-shadow: 2px 4px 4px 0 $color-shadow-20;
    }

    &:hover:active:enabled {
        transform: scale(.95);
        box-shadow: 2px 2px 4px 0 $color-shadow-20;
    }

    &:disabled {
        opacity: .5;
        cursor: default;
    }
}

@mixin btn-primary {
    @include btn-base;
    background-color: $color-30;
    color: $color-light-text;
}

@mixin btn-secondary {
    @include btn-base;
    background-color: $color-90;
    color: $color-30;
    box-shadow: 4px 4px 4px 0 $color-shadow-5;

    &:hover {
        background-color: $color-95;
        box-shadow: 2px 4px 4px 0 $color-shadow-10;
    }
}

@mixin btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-70;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: $color-50;
    }
}

@mixin input-base {
    border: none;
    border-radius: 0.25rem;
    outline-color: $color-70;
    color: $color-50;
    background-color: $color-light;

    &::-webkit-input-placeholder {
        color: $color-90;
    }

    &::-moz-placeholder {
        color: $color-90;
    }

    &:-ms-input-placeholder {
        color: $color-90;
    }

    &:-moz-placeholder {
        color: $color-90;
    }
}
