:root {
    --color-30: hsl(0, 40%, 30%);
    --color-50: hsl(0, 40%, 50%);
    --color-70: hsl(0, 40%, 70%);
    --color-80: hsl(0, 40%, 80%);
    --color-90: hsl(0, 40%, 90%);
    --color-95: hsl(0, 40%, 95%);
    --color-98: hsl(0, 40%, 98%);
    --color-mask-85: hsla(0, 40%, 15%, 0.85);
    --color-dark-text: hsl(0, 0%, 10%);
    --color-light-text: hsl(0, 0%, 100%);
}

@function getColor($name) {
    @return var(--color-#{$name});
}

$color-30: getColor(30);
$color-50: getColor(50);
$color-70: getColor(70);
$color-80: getColor(80);
$color-90: getColor(90);
$color-95: getColor(95);
$color-98: getColor(98);
$color-dark-text: getColor(dark-text);
$color-light-text: getColor(light-text);

/*
$color-hue: 230;
$color-30: hsl($color-hue, 40%, 30%);
$color-50: hsl($color-hue, 40%, 50%);
$color-70: hsl($color-hue, 40%, 70%);
$color-80: hsl($color-hue, 40%, 80%);
$color-90: hsl($color-hue, 40%, 90%);
$color-95: hsl($color-hue, 40%, 95%);
$color-98: hsl($color-hue, 40%, 98%);
*/

@mixin btn-base {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: transform ease .1s, box-shadow ease .1s;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.15);

    &:hover:enabled {
        transform: scale(1.05);
        box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2);
    }

    &:hover:active:enabled {
        transform: scale(.95);
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    }

    &:disabled {
        opacity: .5;
        cursor: default;
    }
}

@mixin btn-primary {
    @include btn-base;
    background-color: $color-30;
    color: #ffffff;
}

@mixin btn-secondary {
    @include btn-base;
    background-color: $color-90;
    color: $color-30;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.05);

    &:hover {
        background-color: $color-95;
        box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.1);
    }
}

@mixin btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-70;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: $color-50;
    }
}

@mixin input-base {
    border: none;
    border-radius: 0.25rem;
    color: $color-50;

    &::-webkit-input-placeholder {
        color: $color-90;
    }

    &::-moz-placeholder {
        color: $color-90;
    }

    &:-ms-input-placeholder {
        color: $color-90;
    }

    &:-moz-placeholder {
        color: $color-90;
    }
}
