
<div class="page-content__wrapper">
    <main class="page-content__main">
        @ChildContent
    </main>

    <SettingsMenu />
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
