
<header class="page-header__wrapper">

    <a class="page-header__logo" href="/" title="Home page">
        <SvgIcon SvgUrl="/assets/logo.svg" />
    </a>

    <div class="page-header__content">
        @ChildContent
    </div>
     
    <div class="page-header__login">
        <LoginStatus @ref="loginStatus"/>
    </div>

</header>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public void ShowLoginForm() => loginStatus.ShowLoginForm();

    private LoginStatus loginStatus;
}
