@inject IJSRuntime js;

<div class="theme-color__wrapper">

    <input type="range" min="0" max="359" value="@hue" @oninput="OnInput" @onchange="OnChange" />

</div>

@code {
    int hue =220;

    protected override async Task OnInitializedAsync()
    {
        await SetPreviewColor(hue);
        await SetThemeColor(hue);
    }

    async Task OnChange(ChangeEventArgs args)
    {
        hue = int.Parse(args.Value.ToString());
        await SetThemeColor(hue);
    }

    async Task OnInput(ChangeEventArgs args)
    {
        await SetPreviewColor(int.Parse(args.Value.ToString()));
    }

    async Task SetThemeColor(int hue) => await js.InvokeVoidAsync("setThemeColor", hue);

    async Task SetPreviewColor(int hue) => await js.InvokeVoidAsync("setThemePreviewHue", hue);

}
