@page "/"

<PageHeader>
    <h1>
        Nassi–Shneiderman diagram generator
    </h1>
</PageHeader>

<h1>Hello, world!</h1>

<AuthorizeView>
    This content is displayed only if the user is Authorized
</AuthorizeView>

<AuthorizeView Roles="Editor">
    User is editor
</AuthorizeView>

