@page "/register-user"

@inject NavigationManager navigationManager

<PageTitle>Nassi–Shneiderman Diagrams - User registration</PageTitle>

<PageHeader>
    <h1>
        User registration
    </h1>
</PageHeader>

<PageContent>

    <div class="register-user__wrapper">

        @if (showSuccess)
        {
            <div class="register-user__success-dialog">

                <p class="register-user__success-message">
                    User account has been created.
                </p>

                <button class="register-user__success-button" @onclick="HandleClick">
                    Create your first diagram
                </button>

            </div>
        }
        else
        {
            <RegisterForm OnSuccess="@HandleSuccess" />
        }

    </div>

</PageContent>


@code {
    bool showSuccess;

    private void HandleSuccess() => showSuccess = true;

    private void HandleClick() => navigationManager.NavigateTo("/diagram");

}
