
<div class="@CssClass preview-text-block__wrapper block__wrapper" 
    @onclick="HandleBlockClick" @onclick:stopPropagation="true">

    <div class="preview-text-block__text">
        @htmlText
    </div>

    @if (ChildContent != null)
    {
        @ChildContent
    }

</div>

@code {
    [Parameter] public string CssClass { get; set; }

    [Parameter] public TextBlockModel Model { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public EventCallback<Guid> OnBlockSelected { get; set; }


    MarkupString htmlText => (MarkupString)Model.Text?.Replace("\n", "<br/>");

    async Task HandleBlockClick() => await OnBlockSelected.InvokeAsync(Model.Id);
}
