
<div class="@CssClass preview-text-block__wrapper block__wrapper" @onclick="HandleBlockClick">
    <div>
        @Text
    </div>
</div>

@code {
    [Parameter] public string CssClass { get; set; }

    [Parameter] public Guid Id { get; set; }
    [Parameter] public string Text { get; set; }

    [Parameter] public EventCallback<Guid> OnBlockSelected { get; set; }

    async Task HandleBlockClick() => await OnBlockSelected.InvokeAsync(Id);
}
