
<div class="@GetCss()" title="@GetTitle()">
    <SvgIcon SvgUrl="/assets/sort-icon.svg" />
</div>

@code {
    [Parameter] public SortDirectionEnum SortDirection { get; set; }

    string GetCss()
    {
        switch (SortDirection)
        {
            case SortDirectionEnum.Ascending:
                return "sorting-marker__wrapper sorting-marker__wrapper--asc";
            case SortDirectionEnum.Descending:
                return "sorting-marker__wrapper sorting-marker__wrapper--desc";
            default:
                return "sorting-marker__wrapper";
        };
    }

    string GetTitle()
    {
        switch (SortDirection)
        {
            case SortDirectionEnum.Ascending:
                return "Ascending sort";
            case SortDirectionEnum.Descending:
                return "Descending sort";
            default:
                return "";
        };
    }
}
